{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'shop/style.css' %}" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form class="card card-sm">
            <div class="card-body row no-gutters align-items-center">
              <div class="col">
                <input type="search" name="item_name" placeholder="Search for products " class="form-control form-control-borderless">
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-success">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        {% for product in product_objects %}
          <div class="col-md-3">
            <div class="card">
              <img src="{{ product.image }}" class="card-img-top" width="300" height="300">
              <div class="card-body">
                <div class="card-title">
                  {{ product.title }}
                </div>
                <div class="card-text">
                  $ {{ product.price }}
                </div>
                <a class="btn btn-warning" href="/shop/detail/{{ product.id }}">View</a>
                <button class="btn atc btn-warning" href="">Add To Cart</button>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-md-4 offset-md-3">
          <ul class="pagination">
            <div class="container">
              Page: {{ product_objects.number }} of {{ product_objects.paginator.num_pages }}
            </div>
            {% if product_objects.has_previous %}
              <li class="page-item active">
                <a href="?page={{ product_objects.previous_page_number }}" class="btn btn-primary page-link">Previous</a>
              </li>
            {% endif %}
            <li class="page-item active">
              <a href="?page={{ product_objects.number }}" class="btn btn-primary page-link">Current</a>
            </li>
            {% if product_objects.has_next %}
              <li class="page-item">
                <a href="?page={{ product_objects.next_page_number }}" class="btn btn-primary page-link">Next</a>
              </li>
              {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    console.log('This is working');
    if (localStorage.getItem('cart') == null) {
      var cart = {};
    }
    else {
      cart = JSON.parse(localStorage.getItem('cart'));
    }
    $(document).on('click', '.atc')
  </script>
</html>

